{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  {% block body %}
  <div class="jumbotron big-banner" style="height: 500px; padding-top: 150px "></div>
  

</br>

  <div class="row-5">
    <div class="col-12">
        <h2>About bhadrachalam</h2>
   
      
      <p>Lord Sree Sita Ramachandra Swamy Temple in Bhadrachalam is a Hindu temple of Lord Rama located in Telangana, India. The area is called as Bhadrachalam and is the venue of grand celebrations on Rama Navami day, when the wedding anniversary of Lord Rama and his consort Sita takes place with much fanfare.

          The temple in Bhadrachalam is closely connected with the life of the 17th-century saint composer Kancharla Gopanna who was known as Bhakta Ramadas. Gopanna was the Tahasildar of Bhadrachalam (second half of the 17th century), is said to have used money from the government treasury to build this temple, and was imprisoned in a dungeon at Golconda. Lord Rama is said to have miraculously given the Sultan the money spent by Gopanna, after which he was released. Gopanna then became Bhadrachala Ramadasa and went on to compose innumerable number of songs in Telugu in praise of Rama.
          
          Bhadrachalam and Vijayanagara are sites said to have been closely associated with the Ramayana. Rama, Sita and Lakshmana are said to have stayed at Parnasala, 35 km away from Bhadrachalam. Rama is said to have crossed the river Godavari on his way to Sri Lanka to rescue Sita, at the spot where the Bhadrachalam temple stands, on the northern bank of the river. Legend has it that the son of Meru and Menaka, Bhadra, performed penances towards Rama here. Kabirdas, a Muslim by birth is also closely associated with this temple. It is believed that the images of the deities miraculously disappeared when Kabir was refused entry into the temple and that they reappeared miraculously upon his being permitted to enter.</p>
    </div>
  </div>
</div>

  {% endblock %}
  
</body>
</html>


