{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit = no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% block body %}
</br>
        <div class="container">
        
                <h1 style="text-align: center;">Tour packages</h2>
                {% for tour in tours %}
        
                <br>

                <div class="row">
                    <div class="col-6">
                <div class = "card" style = "width:400px;height:400px">
                    <a href="{% url 'demoapp:detail' tour.id %}"><img style="display: list-item;" class = "card-img-top" src = "{{tour.image.url}}" 
                       alt = "Card Image Center"></a>
                    
                    <div class = "card-body">
                       <h4 class = "card-title">{{tour.name}}</h4>
                       <p class = "card-text">
                    
                        
                        
                       </p>
                       
                    </div>
                 </div>
                </div>
                </div>
                
                
                
    
                
                {% endfor %}
                {% endblock %}
                
               
</body>
</html>

